.App {
  min-height: 100vh;
}

.splash {
  display: flex;
  justify-content: center;
  background-image: url(./header-bg.jpg);
  background-size: cover;
  height: 800px;
  color: white;
}
header {
  height: 90px;
  background-color: black;
  height: 100px;
  width: 100%;
}
header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}
header nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 400px;
}
header a {
  color: yellow;
  text-decoration: none;
  font-size: 25px;
}

.first-line {
  font-size: 40px;
  margin: 0px 0px 100px;
}
.second-line {
  font-size: 80px;
  font-weight: 400;
}
.yellow-button {
  color: white;
  font-size: 30px;
  border-color: yellow;
  background-color: yellow;
  padding: 20px 40px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 200px;
}

@media (max-width: 1200px) {
  header {
    padding: 0 20px;
  }
  .container {
  }
}
.list li {
  list-style: none;
  padding: 15px;
}
